<div class="container">
    <div class="row vh-100 align-items-center">
        <div class="col-md-8">
            <h1>Hi there,</h1>
            <span class="h1">Welcome to </span><span class="display-3 font-weight-bold">Rickroller</span>
            <p>Make your own rickrolls with fake embeds just like this one.</p>
            <a href="/roll" class="btn btn-lg btn-primary">Make your own RickRoll</a>
        </div>
        <div class="col-md-4">
            
            <div class="card shadow">
                <div class="card-body">
                    <h5>Support me as a developer</h5>
                    <p>Hey, I don't put ads on my projects coz I know they're annoying.<br />
                        To keep projects like these coming, Support me with your contributions. </p>
                    <a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/arhammusheer"><img
                            src="https://www.buymeacoffee.com/assets/img/BMC-btn-logo.svg" alt="Buy me a coffee"><span
                            style="margin-left:5px">Buy me a coffee</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row vh-100 align-items-center">
        <div>
            <h1>Your Embeds are gonna look like this</h1>
            <div class="col-md-6">

                <div class="card bg-dark text-white mt-4">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-column">
                                <small>{{embed.site_name}}</small>
                                <a href="{{embed.link}}" class="mt-2">{{embed.title}}</a>
                                <p class="mt-2">{{embed.description}}</p>
                            </div>

                            <div>
                                <img src="{{embed.image_url}}" alt="Croissant Image" class="rounded shadow"
                                    style="max-width: 100px; max-height: 100px;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>