<div class="container my-4">
    <div class="card shadow">
        <div class="card-body">
            <h3>Make your own rickroll</h3>
            <small>Make your own custom rickrolls with fake embeds</small>
            <div class="row mt-4">
                <div class="col-md-7">
                    <form action="/newroll" method="post" id="newroll">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <div class="mt-2">
                            <label for="site_name" id="site_name_label" class="form-label">Site Name*</label>
                            <input type="text" class="form-control" name="site_name" id="site_name" required
                                placeholder="Croissant world" />
                        </div>
                        <div class="mt-2">
                            <label for="title" id="title_label" class="form-label">Title*</label>
                            <input type="text" class="form-control" name="title" id="title" required
                                placeholder="The amazing world of croissant" />
                        </div>
                        <div class="mt-2">
                            <label for="description" id="description_label" class="form-label">Description*</label>
                            <input type="text" class="form-control" name="description" id="description" required
                                placeholder="This webpage is about the amazing world of croissant and how it'll change you from a human to a croissant" />
                        </div>
                        <div class="mt-2">
                            <label for="image_url" id="image_url_label" class="form-label">Image Url*</label>
                            <input type="url" class="form-control" name="image_url" id="image_url" required
                                placeholder="/images/croissant-1.jpg" />
                        </div>
                        <div class="mt-2">
                            <label for="timer" id="timer_label" class="form-label">Timer* (seconds)</label>
                            <input type="number" class="form-control" name="timer" id="timer" required placeholder="1" />
                        </div>
                        <button type="submit" class="btn btn-primary mt-4">Submit</button>

                    </form>
                </div>
                <div class="col-md-5">
                    <h5>Your embed will look like this on discord</h5>
                    <div class="card bg-dark text-white mt-4">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex flex-column">
                                    <small id="sample_site_name">{{embed.site_name}}</small>
                                    <a href="{{embed.link}}" id="sample_title" class="mt-2">{{embed.title}}</a>
                                    <p class="mt-2" id="sample_description">{{embed.description}}</p>
                                </div>

                                <div>
                                    <img src="/images/croissant-1.jpg" alt="Croissant Image" class="rounded shadow"
                                        id="sample_image_url" style="max-width: 100px; max-height: 100px;" />

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/form-listener.js"></script>