<div class="container">
	<div class="row vh-100 align-items-center justify-content-center">
		<div class="col-md-6">
			<div class="h4">Copy this link to rickroll: <a href="{{roll_link}}">{{roll_link}}</a></div>
			<div class="card bg-dark text-white mt-4">
				<div class="card-body">
					<div class="d-flex justify-content-between">
						<div class="d-flex flex-column">
							<small>{{embed.site_name}}</small>
							<a href="{{embed.link}}" class="mt-2">{{embed.title}}</a>
							<p class="mt-2">{{embed.description}}</p>
						</div>

						<div>
							<img src="{{embed.image_url}}" alt="Croissant Image" class="rounded shadow"
								style="max-width: 100px; max-height: 100px;" />
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
